body {
  margin: 0;
  background-color: #F3F3F3;
  overflow-x: hidden;
}

*, *::before, *::after {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.splash-title {
  font-family: 'Bangers', cursive;
  font-size: 10rem;
}

.btn {
  font-size: inherit;
  background-color: hsl(239, 100%, 50%);
  padding: .5em 1em;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: .2em;
  color: rgb(253, 253, 253);
  margin-left: 20px;
}

.btn:hover, .btn:focus {
  background-color: hsl(221, 100%, 40%);
}

.splash-btn {
  font-size: 2rem;
  margin-left: 2rem;
}

.splash-btn:first-child {
  margin-left: 0;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container2 {
  display: flex;
  width: 100%;
}

.container-top {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 100%;
}
.container-left {
  display: flex;
  justify-content: left;
  height: 40px;
  width: 100%;
}


.black-cards {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: hsl(0, 52%, 24%);
  height: 170px;
  width: 20%;
}

.send-cards {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: hsl(200, 100%, 50%);
  height: 170px;
  width: 75%;
}

.white-cards {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: hsl(200, 6%, 46%);
  height: 300px;
  width: 97%;
}

.black-card {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: hsl(195, 40%, 2%);
  height: 125px;
  width: 95%;
}

.white-card-top {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: hsl(0, 0%, 100%);
  height: 125px;
  width: 20%;
}

.white-card-hand {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: hsl(0, 0%, 100%);
  height: 125px;
  width: 16%;
}

.card-text-black {
  display: flex;
  text-align: center;
  margin: auto;
  color: black;
}

.card-text-white {
  display: flex;
  text-align: center;
  margin: auto;
  color: white;
}

.hidden-info {
  font-size: 1.5rem;
  align-items: center;
  flex-direction: column;
}

.info-text {
  margin: 1rem;
}


.player {
  margin: 2vmin;
}

.connected, .ready {
  font-weight: normal;
  opacity: .25;
  text-decoration: line-through;
}

.connected.active,
.ready.active {
  opacity: 1;
  text-decoration: none;
}